AUTHORS
build-stamp
ChangeLog
covhtml/
dist/
.idea/*
.vscode/*
*.DS_Store
*.pyc
*.egg-info/
pbr*.egg/
setuptools*.egg/
.stestr/
.tox/
.venv/
*.mo
*.sw?
*~
.eggs/
.ropeproject/
.hugo_build.lock

# Files created by releasenotes build
releasenotes/build
api-ref/build
.devcontainer/
